.button {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.navigation {
    position: absolute;
    top: 20px;
    height: 15em;
    width: 80%;
    padding-inline-start: 10%;
    justify-content: space-between;
    align-content: space-between;
}