.button {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    padding: 1vh 2vw 1vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.navbtn{
    width: 15vw;
}
.navigation {
    position: absolute;
    top: 10%;
    right: -32%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hireme {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 1vh 2vw 1vh 2vw;
    top: 75vh;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    flex: none;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}