@import url('https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic&subset=latin,latin-ext');
@font-face {
    font-family: 'Raleway', cursive;
    src: url('https://fonts.googleapis.com/css?family=Raleway')
}
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.hello{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 8vh;
    text-align: center;
    color: #457BEE;
}

.name{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 8vh;
    text-align: center;
    color: #FFFFFF;
}

.about{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    margin-top: 6vh;
    text-align: center;
    color: #FFFFFF;
}

.dot{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    text-align: center;
    color: #457BEE;
}

.nav{
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
}

.mnav{
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
}

.hire {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: #FFFFFF;
}

.edu{
    margin-left: 15vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 5vh;
    color: #FFFFFF;
}

.course{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    margin-left: 0.75vw;
    color: #FFFFFF;
}

.insti{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 6%;
    font-size: 3vh;
    margin-left: 2vw;
    color: #FFFFFF;
}

.year{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 2vw;
    font-size: 2vh;
    color: #FFFFFF;
}

.work{
    margin-left: 10vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 5vh;
    margin-bottom: 2vh;
    color: #FFFFFF;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    margin-left: 1.5vw;
    color: #FFFFFF;
}

.pow{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 3vw;
    font-size: 2.5vh;
    color: #FFFFFF;
}

.time{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 3vw;
    font-size: 2vh;
    color: #FFFFFF;
}

@media only screen and (max-width: 1025px){
    .hello{
        font-size: 4vh;
    }
    .name{
        font-size: 4vh;
    }
    .about{
        font-size: 2vh;
        margin-top: 2vh;
    }
    .course{
        font-size: 2.5vh;
        margin-left: 2vw;
    }
    .insti{
        font-size: 1.5vh;
        margin-left: 6vw;
    }
    .year{
        font-size: 1vh;
        margin-left: 6vw;
    }
    .title{
        font-size: 3vh;
        margin-left: 3vw;
    }
    .pow{
        font-size: 2vh;
        margin-left: 6vw;
    }
    .time{
        margin-left: 6vw;
    }
    .hire{
        font-size: 4vw;
    }
}