@import url('https://fonts.googleapis.com/css?family=Raleway:regular,bold,italic&subset=latin,latin-ext');
@font-face {
    font-family: 'Raleway', cursive;
    src: url('https://fonts.googleapis.com/css?family=Raleway')
}
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.hello{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 8vh;
    text-align: center;
    color: #457BEE;
}

.name{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 8vh;
    text-align: center;
    color: #FFFFFF;
}

.about{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    margin-top: 6vh;
    text-align: center;
    color: #FFFFFF;
}

.dot{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    text-align: center;
    color: #457BEE;
}

.nav{
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.mnav{
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 200%;
}

.hire {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    color: #FFFFFF;
    /* identical to box height, or 250% */
}

.edu{
    margin-left: 25%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 200%;
    color: #FFFFFF;
}

.course{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.insti{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 6%;
    font-size: 18px;
    line-height: 200%;
    color: #FFFFFF;
}

.year{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 6%;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.work{
    margin-left: 10%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 200%;
    color: #FFFFFF;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.pow{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 3%;
    font-size: 18px;
    line-height: 200%;
    color: #FFFFFF;
}

.time{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    margin-left: 3%;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

@media only screen and (max-width: 1025px){
    .hello{
        font-size: 4vh;
    }
    .name{
        font-size: 4vh;
    }
    .about{
        font-size: 2vh;
        margin-top: 2vh;
    }
}