.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: absolute;
    top: 90%;
    right: -50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon {
    font-size: 4.5vh;
    color: white;
}

.icont {
    width: 11vw;
}

@media only screen and (max-width: 1025px){
    .container {
        padding: 0 0 4vh 4vw;
        left: 50%;
    }
    .icont {
        width: 18vw;
    }
}