.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 5%;
    width: 40%;
    justify-content: space-between;
    align-content: space-between;
}