.image-container {
    display: flex;
    justify-content: center;
}

.loading {
    position: absolute;
    width: 50%;
}

.background{
    position: fixed;
    width: 55%;
    height: 100%;
}

.mbackground{
    position: fixed;
    width: 100%;
}

.logo{
    margin-top: 30px;
    margin-left: 10px;
    width: 50%;
    height: 50%;
}

.mlogo{
    position: absolute;
    width: 15%;
    margin-top: 2%;
}

.hamburger{
    position: absolute;
    margin-top: 5%;
    margin-left: 85%;
}