.side-drawer {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.side-drawer.open {
    transform: translateX(0);
}

.smenu{
    width: 100%;
}

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sb{
    margin-top: 10vh;
    margin-left: 25vw;
}

.navicon{
    position: absolute;
    font-size: 4vh;
    padding-top: 1vh;
    margin-left: 50vw;
}