.page {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-image: url('../images/Work.png');
    margin: 0 !important;
    padding: 0 !important;
}

.mpage {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    left: 0;
    background-image: url('../images/mWork.png');
    margin: 0 !important;
    padding: 0 !important;
}

.rects{
    z-index: 2;
    margin-top: 8%;
    margin-left: 10%;
    height: 2%;
}

.bts{
    z-index: 2;
    margin-left: 10%;
    height: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
}

.bt{
    width: 1.5%;
    margin-right: 1.5%;
}
@media only screen and (min-width: 0px) and (max-width: 479px){
    .rects{
        padding-top: 28%;
    }
    .bts{
        margin-bottom: 25%;
    }
    .bt{
        width: 4%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .rects{
        padding-top: 20%;
    }
    .bts{
        margin-bottom: 20%;
    }
    .bt{
        width: 2%;
    }
    .mpage {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        left: 0;
        background-image: url('../images/Work.png');
        margin: 0 !important;
        padding: 0 !important;
    }
}