.page {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-image: url('../images/Work.png');
    background-size: 100vw 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.mpage {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    left: 0;
    background-image: url('../images/mWork.png');
    background-size: 100vw 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.rects{
    z-index: 2;
    margin-top: 20vh;
    margin-left: 10vw;
    height: 2%;
}

.bts{
    z-index: 2;
    margin-left: 10vw;
    height: 1vh;
    margin-top: 1vh;
    margin-bottom: 20vh;
}

.bt{
    width: 3vh;
}
@media all and (max-device-width: 1025px){
    .bts{
        margin-bottom: 15vh;
    }
    .bt{
        width: 2vh;
    }
}